CONFIG_ARCH_BCM=y
CONFIG_ARCH_BCM_21664=y
# CONFIG_VDSO is not set
CONFIG_ARM_APPENDED_DTB=y
CONFIG_DEBUG_KERNEL=y
# CONFIG_FTRACE is not set
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_UART_PHYS=0x3e002000
CONFIG_EARLY_PRINTK=y
